#
binaural-sdr
.build
Makefile
.qmake.stash
src/.qm

#
/.cproject
/.project
/.externalToolBuilders
/.settings

#
binaural-sdr.cflags
binaural-sdr.config
binaural-sdr.creator
binaural-sdr.creator.user
binaural-sdr.cxxflags
binaural-sdr.files
binaural-sdr.includes
